[submodule "src/plottoolbox/SciencePlots"]
	path = src/plottoolbox/SciencePlots
	url = git@github.com:timcera/SciencePlots.git
[submodule "src/plottoolbox/SkillMetrics"]
	path = src/plottoolbox/SkillMetrics
	url = git@github.com:timcera/SkillMetrics.git
