include *.txt
include VERSION
include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE.txt
include README.rst
include src/plottoolbox/skill_metrics/README_SkillMetrics.txt
include src/plottoolbox/skill_metrics/LICENSE_SkillMetrics.txt
include src/plottoolbox/SciencePlots_styles/*
include *.md
include *.rst
include *.toml
include *.yaml
include *.yml
include pytest.ini
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include src *.mplstyle
recursive-include src *.rst
recursive-include src *.txt
recursive-include tests *.csv
recursive-include tests *.png
recursive-include tests *.py
