include *.md
include *.rst
include *.toml
include *.yaml
include pytest.ini
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include src *.mplstyle
recursive-include tests *.csv
recursive-include tests *.png
recursive-include tests *.py
recursive-include tests *.wdm
recursive-include tests *.xlsx
